<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="index.js" defer></script>
    <link rel="stylesheet" href="/index.css">
    <title>Distributed Database System</title>
</head>
<body class="flex justify-center">
<div action="/appointments/transaction" method="POST" target="_self" class="w-full max-w-[1440px] flex flex-col items-center justify-center">
    <div class="my-[4vh] w-full flex flex-col items-center">
        <h1 class="text-5xl font-bold">Distributed Database System</h1> <br>

        <div id="error-display" class="relative hidden mt-4 ">
            <!-- Display data here -->

        </div>

        <div>Node/Server:</div>
        <select name="node" id="node" required class="text-xs w-96 font-bold mt-2 border-2 border-black p-0.5">
            <option value="" disabled selected hidden>Select Node/Server</option>
            <option value="20189">Central Server</option>
            <option value="20190">Slave Node 1 (Luzon)</option>
            <option value="20191">Slave Node 2 (Visayas/Mindanao)</option>
        </select> <br>

        <div>Isolation Level:</div>
        <select name="isolation-level" id="isolation-level" required class="text-xs w-96 font-bold mt-2 border-2 border-black p-0.5">
            <option value="" disabled selected hidden>Select Isolation Level</option>
            <option value="READ UNCOMMITTED">Read Uncommitted</option>
            <option value="READ COMMITTED">Read Committed</option>
            <option value="REPEATABLE READ">Repeatable Read</option>
            <option value="SERIALIZABLE">Serializable</option>
        </select> <br>

        <div>Operation Type:</div>
        <select name="operation-type" id="operation-type" required class="text-xs w-96 font-bold mt-2 border-2 border-black p-0.5">
            <option value="" disabled selected hidden>Select Operation Type</option>
            <option value="Read">Read</option>
            <option value="Write">Write</option>
        </select> <br>

        <div>Transaction:</div>
        <textarea id="transaction" name="transaction" placeholder="Enter transaction" rows="7" cols="49" class="border-2 border-black"></textarea><br>

        <div>Commit?</div>
        <select name="commit-or-rollback" id="commit-or-rollback" required class="text-xs w-96 font-bold mt-2 border-2 border-black p-0.5">
            <option value="" disabled selected hidden>Select Commit or Not Commit</option>
            <option value="Read">Commit</option>
            <option value="Write">Not Commit</option>
        </select> <br>

        <button type="submit" id="submit-btn" class="rounded-md px-4 py-2 black bg-green-400">Submit</button>
    </div>
    <div id="data-display" class="mb-[8vh] w-3/4 max-w-[1440px] overflow-x-scroll hidden mb-4 shadow-md rounded-md border-2 border-black">
        <!-- Display data here -->

    </div>
</div>
</body>
</html>